@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.media-info-msg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}

/* 화면너비가 380px 이하면 이 빨간 배경이 보이지 않게 해라*/
@media screen and (max-width: 500px) {
  .media-info-msg {
    display: none;
  }
}
